html {
    scroll-behavior: smooth;
}

p {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#banner img{
    width: 100%;
    height: 380px;
}

@media screen and (max-width:425px) {
    header img{
        width: 200px;
    }
}

@media screen and (max-width:1280px) {
    #banner img{
        height: 280px;
    }
}

@media screen and (max-width:780px) {
    #banner img{
        height: 180px;
    }
}

@media screen and (max-width:425px) {
    #banner img{
        height: 120px;
    }
}

/*Background + Conteudo*/
main{
    overflow: auto;
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: 320px;
}

.conteudo{
    margin: auto;
    margin-top: 55px;
    margin-bottom: 40px;
    width: 75%;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #444444;
}

.conteudo h1{
    font-size: 40px;
    padding: 40px 0px;
    color: #3d953d;
    text-align: center;
    margin: 0;
}
/*Background + Conteudo*/



/*Cardapio-pizza*/
        .cardapio{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .cardapio li {
            flex: 0 0 24%;
            text-align: center;
            vertical-align: top;
            margin: 10px;
            padding: 15px;
            border: 2px solid #CCC;
            border-radius: 10px;
        }

        .cardapio li:hover { 
            border-color: #ef0645;
        }

        .cardapio li:active {
            border-color: #3d953d;
        }

        .cardapio h2{
            color: #ef0645;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .produtos-descricao{
            font-size: 18px;
            margin: 0;
        }

        .produtos-preco {
            font-size: 22px;
            font-weight: bold;
            margin: 10px 0 0;
            margin-top: 10px;
        }

        .cardapio-completo{
            margin: auto;
            padding: 20px;
        }

        .cardapio-completo a{
            text-decoration: none;
            font-size: 2rem;
            color: #3d953d;
            text-align: center;
            font-weight: bold;
        }

        .cardapio-completo a:hover{
            color: #046611;
        }

        @media (max-width: 815px) {

            .cardapio{
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
            }

            .cardapio li {
               width: 220px;
            }

            .cardapio img{
                width: 100px;
            }

            #lata{
                width: 100px;
                height: 120px;
            }

            .cardapio h2{
                font-size: 20px;
            }
    
            .produtos-descricao{
                font-size: 16px;
            }
    
            .produtos-preco {
                font-size: 16px;
            }
            
        }

        @media (max-width: 480px) {

            .cardapio li {
                min-width: 84px;
                padding: 10px 2px;
                margin: 10px 2.5px;
            }

            .cardapio img{
                width: 70px;
            }

            .lata img{
                width: 70px;
                height: 80px;
            }

            .conteudo h1{
                font-size: 20px;
                padding: 15px 0px;
            }

            .cardapio h2{
                font-size: 10px;
            }
    
            .produtos-descricao{
                font-size: 10px;
            }
    
            .produtos-preco {
                font-size: 9px;
            }

            .cardapio-completo, .cardapio-completo p {
                font-size: 16px;
                padding: 0px ;
            }
            
        }
/*Cardapio-pizza*/

/*Cardapio-completo*/

h4{
    font-size: 30px;
    margin: 25px 0px 0px 10px;
    color: #3d953d;
}

h5{
    font-size:25px;
    margin: 35px 0px 5px 10px;
    color: #ef0645;
}

.igrediente{
    margin: 0px 10px;
}

hr{
    width: 80%;
    float: left;
    border-style: dashed;
}

.categoria{
    margin: 70px 0px 0px 0px;
}


@media (max-width: 630px) {
    h4{
        font-size: 20px;
        margin: 35px 0px 0px 15px;
    }

    h5{
        font-size:18px;
        margin: 35px 0px 0px 10px;
    }

    .igrediente{
        font-size: 12px;
        width: 80%;
    }

    .categoria{
        margin: 70px 0px 0px 0px;
    }
}
/*Cardapio-completo*/



/* Localização e Endereço */
        .localizacao{
            display: flex;
            justify-content: space-around;
        }

        .mapa-conteudo {
            width: 700px; 
        }

        .endereco-conteudo{
            border-radius: 7px 0 7px 0;
            padding: 10px;
        }

        .endereco-conteudo ul li{
            color: #2c1f23;
            list-style-type:none;
            padding: 20px 0px;
            font-size: 23px;
        }


        @media (max-width: 1220px){
            .localizacao{
                display: flex;
                flex-direction: column;
                margin: 20px ;
            }

            .mapa-conteudo {
                width: 100%; 
                border: 1px solid #59e;
            } 

            .endereco-conteudo ul li{
                font-size: 18px;
            }

            .endereco-conteudo ul{
                padding: 0;
            }
        }
/* Localização e Endereço */


/* contato */

        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        form {
            padding: 0.75rem;
        }

        form label{
            display: block;
            font-size: 20px;
            margin: 0 auto;
            width: 59%;
            color: black;
        }

        fieldset{
            color: black;
            border: none;
            font-size: 18px;
            margin: 0px 0px 0px 0px;
        }

        .input-padrao {
            display: block;
            margin: 0 auto 15px;
            padding: 10px 25px; 
            width: 50%;
        }

        .enviar {
            width: 150px;
            margin: auto 0;
            padding:15px 0;
            background: rgb(26, 173, 26);
            color: white;
            font-weight: bold;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            transition: 0.3s;
            cursor: pointer;
        }

        .enviar:hover {
            background: darkgreen;
            transform: scale(1.05);
        }

        fieldset p{
            text-align: center;
            font-size: 20px;
            margin: 5px 75px 0px 0px;
        }


        @media (max-width: 420px){
            form {
                width: 100%;
            }

            fieldset p{
                font-size: 17px;
                margin: 0;
            }

            .enviar {
                width: 60%;
                font-size: 18px;
                
            }
        }
/* contato */




/* sobre */

.float{
    padding: 50px;
    font-size: 1.5rem;
}

.float p {
    text-align:center;
}

.img2{
    margin: 10px 40px;
    width: 380px;
    float: left;
    border-radius: 0px 25px;
}


@media (max-width: 1080px){

    .float{
        display: inline-flex;
        flex-direction: column;
        padding: 30px ;
    }

    .img2{
        margin: 15px auto;
        border-radius: 25px;
    }

}

@media (max-width: 730px){

    .img2{
        width: 300px;
    }

    .float p{
        font-size: 20px;
    }

}

@media (max-width: 470px){

    .img2{
        width: 200px;
    }

    .float{
        padding: 20px;
    }

    .float p{
        font-size: 20px;
    }

}
/* sobre */



footer, footer a{
    text-decoration: none;
    text-align: center;
    color: #ededed;
    background-color: #444444;
}

.copyright{
   font-size: 20px;
   padding-top:15px ;
   margin: 0;
}